body {
    margin: 0%;
    background-color: whitesmoke;
}

.navbar {
    flex: 1
}

.navbar>ul>li {

    padding-right: 50px;
    font-size: 25px;
    color: #F5F5F5;
    font-family: sans-serif;
    list-style: none;
    display: inline;


}

.header-section {
    display: flex;
    padding: 30px 30px;
    background-color: #1d1c1c;
    z-index: 3;
    position: relative;
}

.Search-bar {
    margin-top: 5px;
    height: 40px;
    width: 245px;
    background-color: #444343;
    color: #F5F5F5;
    font-family: sans-serif;
    font-size: 25px;
    padding: 10px 0px;
    border-radius: 6px;
    margin-left: 10px;
  



}

.Search-bar>span>i {
    font-size: 22px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* }

.Search-bar > input[type=text] {
    font-size: 25px;
    background-color: #2d2d2d;
    font-family: sans-serif;
    padding: 10px 0px;
    border-radius: 6px;


}

::placeholder {
    color: white;
    padding: 10px 10px;
}

.Search-bar>span {
   
    background-color: #2d2d2d;
    color: white;
    border-radius: 6px;
}
.Search-bar > span > i {
   margin-top: 5.5px;
   position:absolute;
 
} */

.tp-section {
    border-radius: 0px 0px 16px 16px;
    border: 2px solid #F3BD00;
    background: #FFF0BB;
    margin-left: 29%;
    position: absolute;
    z-index: 2;
    top: 110px;


}


.tp-info {

    padding: 10px 25px;



}

.tp-info>span {
    font-size: 25px;
    font-family: sans-serif;
    padding-left: 70px;
    padding-right: 59px;
    font-weight: 600;


}

.tp-info>span>img {
    padding-top: 10px;
}

.tp-info>span>a {
    font-size: 16px;
    padding-left: 10px;
    color: rgb(95, 95, 199);
    font-weight: 400;

}
.vidio > img{
    max-width: 100%;
    height: 100%;
    
}



/* #my-vidio {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 1;

} */

#details {
    display: flex;
    padding-left: 50px;
    position: relative;
    z-index: 4;
    text-underline-offset: none;

}

.my-info {
    flex: 1;
    font-family: sans-serif;

}

.my-info>h2 {
    font-size: 60px;
}

.my-info>h3 {
    font-size: 40px;
    margin-top: -50px;
    font-weight: 530;
}

.my-info>p {
    font-size: 20px;
    margin-top: -25px;
}



.image {
    flex: 1;
    top: -325px;
    position: relative;
    filter: drop-shadow(1px 1px 20px rgb(58, 57, 57));
    }

.btn-download {
    background-color: blue;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border: 2px blue solid;
}

.btn-see {

    color: black;
    font-size: 25px;
    border-radius: 5px;
    border: 2px blue solid;
    margin-left: 15px;
}

.lang {
    background-color: rgb(245, 245, 245);
    margin-left: 72px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgb(58, 57, 57);
    font-family: sans-serif;
    position: relative;
    z-index: 5;
    top: -425px;

}

.lang>h2 {
    font-size: 50px;
    text-align: center;
}

.lang>hr {
    margin-top: -40px;
    width: 60%;
    border: 1px black solid;
}

.lang>p {
    display: inline-block;
    padding-left: 150px;
    font-size: 25px;
    font-weight: 545;
    padding-bottom: 4px;

}

#headline-expert {
    font-size: 55px;
    margin-top: -330px;
    padding-left: 70px;
    font-family: sans-serif;
}

.Expert-section {
    display: flex;
    background-color: rgb(245, 245, 245);
    margin-left: 72px;
    margin-top: 55px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgb(58, 57, 57);
}


.Expert-img {
    flex: 1;
    border-radius: 20px;
    padding: 30px 30px;
    border-image: 200px;

}

.front-info {
    flex: 1;
    font-size: 25px;
    padding-right: 230px;
    font-family: sans-serif;

}

.front-info>p {
    margin-top: -30px;
}

.front-info>h2 {
    font-size: 45px;
    margin-top: 25px;


}
#headline-Ts {
    font-size: 55px;
    margin-top: 80px;
    padding-left: 70px;
    font-family: sans-serif;
}

.soft-skills {
    padding-left: 90px;
    display: flex;
}

.soft-skills-img1 {
    font-size: 30px;
    font-weight: 540;
}

.soft-skills-img1>p {
    margin-top: -5px;
    padding-left: 9px;
}

.soft-skills-img2 {
    font-size: 30px;
    font-weight: 540;
    padding-left: 70px;
    margin-top: 15px;
}

.soft-skills-img2>p {
    margin-top: 1px;
    padding-left: 43px;
}

.soft-skills-img3 {
    font-size: 30px;
    font-weight: 540;
    padding-left: 70px;
    margin-top: 15px;
}

.soft-skills-img3>p {
    margin-top: 1px;
    padding-left: 19px;
}

.soft-skills-img4 {
    font-size: 30px;
    font-weight: 540;
    padding-left: 70px;
    margin-top: 15px;
}

.soft-skills-img4>p {
    margin-top: 1px;
    padding-left: 39px;
}

.soft-skills-img5 {
    font-size: 30px;
    font-weight: 540;
    padding-left: 70px;
    margin-top: 15px;
}

.soft-skills-img5>p {
    margin-top: 1px;
    padding-left: 39px;
}

.soft-skills-img6 {
    font-size: 30px;
    font-weight: 540;
    padding-left: 60px;
    margin-top: -12px;
}

.soft-skills-img6>p {
    margin-top: -16px;
    padding-left: 39px;
}
#headline-sf {
    font-size: 55px;
    margin-top: 60px;
    padding-left: 70px;
    font-family: sans-serif;
}

.tech {
    display: flex;
    background-color: rgb(245, 245, 245);
    margin-left: 72px;
    margin-top: 55px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgb(58, 57, 57);

}

.time-manage {
    padding: 10px 100px;
}

.time-manage>h2 {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: -5px;
    padding-left: 60px;
}

.time-manage>h3 {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: -30px;

}

.time-manage>img {
    padding-left: 25px;
}

.problem>h2 {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: -15px;
    padding-left: 19px;
}

.problem>h3 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 520;
    margin-top: -27px;
    padding-left: 29px
}

.team-lead>h2 {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: -25px;
    padding-left: 115px;
}

.team-lead>h3 {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 520;
    margin-top: -30px;
    padding-left: 85px
}

.team-lead>img {
    padding-left: 90px;
}

.web>h2 {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 5px;
    padding-left: 125px;
}

.web>h3 {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 520;
    margin-top: -33px;
    padding-left: 85px
}

.web>img {
    padding-left: 90px;
    padding-top: 30px;
}
#headline-pr {
    font-size: 55px;
    margin-top: 70px;
    padding-left: 70px;
    font-family: sans-serif;
}

.project1 {
    background-color: rgb(245, 245, 245);
    margin-left: 72px;
    margin-top: 55px;
    height: 350px;
    width: 27%;
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgb(58, 57, 57);

}

.project1>img {
    padding: 10px 9px;
    border-radius: 25px;
    width: 95%;
}

.project1>h2 {
    padding-left: 15px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 25px;

}

.project1>p {
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -15px;


}

.project1>button {
    padding: 10px 150px;
    background-color: blue;
    color: white;
    margin: 18px 5px;
    font-size: 9px;
    border: 2px blue solid;
    border-radius: 5px;
}

.project2 {
    background-color: rgb(245, 245, 245);
    margin-left: 480px;
    margin-top: -350px;
    height: 350px;
    width: 27%;
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgb(58, 57, 57);

}

.project2>img {
    padding: 10px 9px;
    border-radius: 25px;
}

.project2>h2 {
    padding-left: 15px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 25px;

}

.project2>p {
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -15px;


}

.project2>button {
    padding: 10px 150px;
    background-color: blue;
    color: white;
    margin: 0px 5px;
    font-size: 9px;
    border: 2px blue solid;
    border-radius: 5px;
}

.project3 {
    background-color: rgb(245, 245, 245);
    margin-left: 890px;
    margin-top: -350px;
    height: 350px;
    width: 27%;
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgb(58, 57, 57);

}

.project3>img {
    padding: 10px 9px;
    border-radius: 25px;
}

.project3>h2 {
    padding-left: 15px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 25px;

}

.project3>p {
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -15px;


}

.project3>button {
    padding: 10px 150px;
    background-color: blue;
    color: white;
    margin: 0px 5px;
    font-size: 9px;
    border: 2px blue solid;
    border-radius: 5px;
}

.project4 {
    background-color: rgb(245, 245, 245);
    margin-left: 1300px;
    margin-top: -350px;
    height: 350px;
    width: 27%;
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgb(58, 57, 57);

}

.project4>img {
    padding: 10px 9px;
    border-radius: 25px;
}

.project4>h2 {
    padding-left: 15px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 25px;

}

.project4>p {
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -15px;


}

.project4>button {
    padding: 10px 150px;
    background-color: blue;
    color: white;
    margin: 0px 5px;
    font-size: 9px;
    border: 2px blue solid;
    border-radius: 5px;
}

.project5 {
    background-color: rgb(245, 245, 245);
    margin-left: 1710px;
    margin-top: -350px;
    height: 350px;
    width: 27%;
    border-radius: 10px;
    box-shadow: 3px 2px 20px rgb(58, 57, 57);

}

.project5>img {
    padding: 10px 9px;
    border-radius: 25px;
}

.project5>h2 {
    padding-left: 15px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 25px;

}

.project5>p {
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -15px;

}

.project5>button {
    padding: 10px 150px;
    background-color: blue;
    color: white;
    margin: 0px 5px;
    font-size: 9px;
    border: 2px blue solid;
    border-radius: 5px;
}

.btn-slider {
    padding: 20px 600px;

}

#btn1 {
    padding: 15px 15px;
    border-radius: 100%;
    border: 1px black solid;
}

#btn2 {
    padding: 15px 15px;
    border-radius: 100%;
    border: 1px black solid;
}
#headline-quali {
    font-size: 55px;
    margin-top: 60px;
    padding-left: 70px;
    font-family: sans-serif;
}

.Education-section {
    display: flex;
}

.design {
    flex: 1;
}

#circle1 {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    margin-left: 120px;
    margin-top: -353px;
}

#square1 {
    height: 115px;
    width: 5px;
    background-color: black;
    margin-top: -5px;
    margin-left: 130px;
}

.education {
    display: inline-block;
    padding-left: 160px;
    margin-top: 0px;

}

.education>h2 {
    font-size: 40px;
    font-family: sans-serif;
}

.education>h3 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: -25px;
    color: rgb(122, 128, 128);
}

#circle2 {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    margin-left: 120px;


}

#square2 {
    height: 100px;
    width: 5px;
    background-color: black;
    margin-top: -5px;
    margin-left: 130px;
}

.education>h4 {
    font-size: 40px;
    font-family: sans-serif;
}

.education>h5 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: -45px;
    color: rgb(122, 128, 128);
}

#circle3 {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    margin-left: 120px;


}

#square3 {
    height: 100px;
    width: 5px;
    background-color: black;
    margin-top: -5px;
    margin-left: 130px;
}

.education>h6 {
    font-size: 40px;
    font-family: sans-serif;
    padding-left: -99px;
    margin-top: 10px;
}

.education>p {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: -90px;
    color: rgb(122, 128, 128);
}

.edu-image {
    flex: 1;
    padding-left: 100px;
    border-radius: 50px;

}

.edu-image>p {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(122, 128, 128);
    padding-right: 100px;
    padding-left: 5px;
}

.footer-section {
    margin-top: 100px;
    width: 100vw;
    height: 390px;
    background-color: rgb(34, 32, 32);
    /* position: relative;
    z-index: 1;
    top: -500px; */

}

.footer-section>h2 {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(222, 224, 224);
    padding: 30px 440px;
    position: relative;
    top: -180px;
    
}

.footer-icon1>#img1 {
    padding-left: 485px;
    position: relative;
    top: -260px;
}

.footer-icon1>h3 {
    margin-left: 526px;
    color: rgb(222, 224, 224);
    font-size: 20px;
    font-weight: 400;
    margin-top: -292.5px;

}

.footer-icon2>#img2 {
    padding-left: 550px;
    position: relative;
    top: -240px;
}

.footer-icon2>h4 {
    margin-left: 591px;
    color: rgb(222, 224, 224);
    font-size: 20px;
    font-weight: 400;
    margin-top: -272px;

}

#footer-btn {
    background-color: rgb(59, 59, 228);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 2px rgb(59, 59, 228) solid;
    margin-left: 565px;
    padding: 10px 29px;
    position: relative;
    top: -220px;

}

.end {
    width: 100vw;
    height: 0px;
    background-color: rgb(253, 253, 253);
    margin-top: -15px;

}

.end>p {
    margin-left: 36%;
    font-family: sans-serif;
    font-size: medium;
    padding: 20px 0px;
    padding-top: 50px;
}
#footer-img{
    border-radius: 50%;
    border: 5px rgb(34, 32, 32) solid;
    position: relative;
    z-index: 1;
    left: 39%;
    top: -100px;
    background-color: rgb(34, 32, 32);
    background: transparent;
    padding: 0px 30px;
    
}